* {
    color: rgba(40,43,45,255);
    font-family: poppins, serif;
}

body {
    display: grid;
    padding-top: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #F5F5F5;
    text-shadow: 1px 1px 2px black;
}

.header {
    background-color: #306397e7;
    margin-left: -3000px;
    margin-right: -40px;
    margin-top: -50px;
    text-indent: 3000px;
    line-height: 180px;
    height: 150px;
    z-index: -1;
    font-size: x-large;
    font-weight: 800;
}

h2 {
    font-size: x-large;
    font-weight: 700;
}

.left-bar {
    border: 1.5px solid rgba(40,43,45,255);
    width: 275px;
    align-content: left;
    padding-left: 23px;
    grid-row-start: 2;
    grid-row-end: 12;
    margin-left: 30px;
    margin-bottom: 10px;
}

.right-bar {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    grid-row-start: 1;
    grid-row-end: 12;
    grid-column-start: 2;
    margin-right: 30px;
}

.profile-pic {
    height: 250px;
    padding-top: 20px;
    transition: .5s;
    cursor: pointer;
    -webkit-mask: 
    linear-gradient(135deg,#000c 40%,#000,#000c 100%)
    100% 100%/250% 250%;
}

.profile-pic + .profile-pic {
    -webkit-mask: linear-gradient(135deg,#000c 40%,#000,#000c 100%);
}

.profile-pic:hover {
    -webkit-mask-position: 0 0;
}

ul {
    list-style: none;
    margin-left: -40px;
}

.contact {
    vertical-align: middle;
}

.icon {
    background-color: #306397;
    border-radius: 20%;
    vertical-align: middle;
}

#phone,
#website,
#email {
    font-size: 15px;
    font-weight: 400;
}

#text {
    text-align: justify;
}

li {
    padding-right: 25px;
}

.education,
.skills {
    background-color: #237aa682;
    margin-right: 25px;
    margin-left: 30px;
    text-indent: -27px;
    text-shadow: 1px 1px 2px white;
}

h4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.card {
    display: grid;
    grid-template-columns: 70px auto;
}

.card-title {
    padding-left: 20px;
}

.card-date {
    border-right: 2px solid #306397;
    margin-right: -5px;
    grid-row: span 2;
    text-align: center;
    align-self: center;
}

.card-text {
    padding-left: 20px;
    text-align: justify;
}

.footer {
    position: absoute;
    flex-basis: 100%;
    grid-column-start: 1;
    grid-column-end: 12;
    margin-left: 30px;
    margin-right: 30px;
}

h3, h4, {
    font-size: large;
}

h5, h6 {
    margin-bottom: 0;
}

h5 {
    font-size: medium;
    font-weight: 600;
    margin-top: 5px;
}

h6 {
    font-size: medium;
    font-weight: 450;
    margin-top: 0;
}

.header-m {
    display: none;
}

@media (max-width: 481px) {
   
    .header {
        display: none;
    }

    .header-m {
        display: inline-block;
        background-image: linear-gradient(#0068d0e7, #306397e7,#306397e7,#306397e7, #0068d0e7);
        width: 100vw;
        height: 124px;
        margin-top: -30px;
        margin-left: 0px;
        text-indent: 160px;
        line-height: 50px;
    }
    #sub-header {
        display: none;
    }

    #sub-header-m {
        display: block;
        text-indent: 146px;
        margin-top: -80px;
        margin-bottom: 40px;
        padding-left: 10px;
    }

    body {
        display: grid;
        margin-top: -30px;
        right: 1rem;
        padding-right: 0px;
        border-right: 0px;
        margin-right: 0px;
        width: 99vw;
        text-align: center;
    }
    
    .profile-pic {
        height: 120px;
        margin-top: -20px;
        margin-left: -14px;
        margin-right: 400px;
        display: inline-block;
        margin-bottom: -100px;
        align-self: left;
    }

    .left-bar {
        height: 300px;
        width: 100vw;
        border: none;
        margin-left: 5px;
        padding: 0px;
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 1;
        display: block
    }

    .right-bar {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 12;
        margin-left: 5px;
        margin-top: 380px;
        padding: 0px;
        width: 95vw;
        margin-right: 1rem;
    }

    .education {
        text-align: justify;
        margin-left: 190px;
        width: 120px;
    }

    .skills {
        width: 80px;
        text-align: justify;
        margin-left: 220px;
        margin-top: 20px;
    }

    .education,
    .skills,
    .profile,
    .work-experience {
        margin-right: 0px;
        border-right: 0px;
        padding-right: 0px;
    }
}

hahahaha